@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: coral;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 13px;
  margin: 0;
  color: #444;
}

h2 {
  font-family: "sans-serif", cursive;
  font-size: 40px;
  font-style: oblique;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;
}
